
.position_management_list_new {
	display: block;
    border-top: 1px dashed #ccc;
    margin: 20px 0 40px 0;
    padding: 30px 10px 0 0;
    direction: rtl;
    text-align: right;
}
.position_management_list_new input,
.position_management_list_new select {
	margin: 0 5px;
	padding: 10px;
	border-radius: 0px;
	width: 200px;
	border-radius: 4px;
}
.position_management_list_new select {
	width: 150px;
}
