
#user_login_form input[name=username] ,
#user_login_form input[name=password] {
	text-align: left;
	direction: ltr;
	padding-left: 45px;
	border: 1px solid #bbb;
}

#user_login_form icon {
	margin-right: -36px;
    font-size: 24px;
    position: relative;
    z-index: 11;
    background-color: #dedede;
    line-height: 1 !important;
    padding: 9px 0px 10px;
    top: 4px;
    text-align: center;
    width: 35px;
    border-radius: 3px 0 0 3px;
}






