

.ezTicket_user_form {
	display: block;
	margin: 20px;
	clear: both;
}
.ezTicket_user_form .head {
	width: 100%;
}
.ezTicket_user_form .name {
	width: 69.5%;
	display: inline-block;
	margin: 5px 0 5px 0;
	font: normal 18px DefaultFont, tahoma;
	height: 40px;
}
.ezTicket_user_form .dept {
	width: 30%;
	display: inline-block;
	margin: 5px 0 5px 0;
	font: normal 18px DefaultFont, tahoma;
	height: 40px;

}
.ezTicket_user_form textarea {
	width: 100%;
	display: block;
	height: 180px;
	font: normal 18px DefaultFont, tahoma;
	margin: 5px 0 5px 0;
}
.ezTicket_user_form input[type="submit"] {
	margin: 22px 0 5px 0;
	padding: 5px 30px 5px 30px;
	float: left;
}


#ezTicket_user_list_add {
	margin: 10px 0 25px 21px;
	float: left;
	display: block;
}


.ezTicket_user_list {

}
.ezTicket_user_list .r {
	margin: 0 20px 0 20px;
	display: block;
	border: 1px solid #F9FCFF;
	border: 0 1px 0 1px;
}
.ezTicket_user_list .r > * {
	display: inline-block;
	padding: 10px;
}
.ezTicket_user_list .r:nth-child(2n) {
	background: #F9FCFF;
}
.ezTicket_user_list .r:hover {
	background: rgb(76, 147, 199);
	color: white;
	cursor: pointer;
}
.ezTicket_user_list .r .id {
	width: 5%;
	text-align: center;
}
.ezTicket_user_list .r .name {
	width: 73%;
	font-weight: normal;
}
.ezTicket_user_list .r .name.bold {
	font-weight: bold;
	font: bold 15px DefaultFont;
}
.ezTicket_user_list .r .date {
	width: 20%;
	text-align: left;
	direction: ltr;
}

.ezTicket_user_form_replies {
	border-top: 1px solid #E8F0FF;
	clear: both;
	margin: 25px 20px 60px 20px;
	padding: 20px 0 0 0;
}
.ezTicket_user_form_replies .r {
	margin: 10px 0 10px 0;
	background: #F9f9f9;
	display:table;
	width:100%;
}
.ezTicket_user_form_replies .r > * {
	display: table-cell;
	padding: 15px 25px 20px 0;
}
.ezTicket_user_form_replies .r .info {
	width: 20%;
	text-align: right;
	background: rgb(240, 240, 240);
	height: 100%;
}
.ezTicket_user_form_replies .r .date {
	display: block;
	font-size: 11px;
	direction: ltr;
}
.ezTicket_user_form_replies .r .user-name {
	font: bold 16px DefaultFont,tahoma;
	color: rgb(71, 71, 71);
	text-shadow: 1px 1px white;
}
.ezTicket_user_form_replies .r .text {
	width: 79%;
}

.ezTicket_user_form_replies .r.admin {
	background: #F9FCFF;
}
.ezTicket_user_form_replies .r.admin .info {
	background: rgb(236, 248, 255);
}








