
/*admin*/

.linkify_mg_this_form {
	direction: rtl;
	padding: 50px 30px;
}

.linkify_mg_this_form .list_of_pages_in_select {
	
}
.linkify_mg_this_form .lmft_tis {
	width: 100px;
	display: inline-block;
}
.linkify_mg_this_form input[name="url"] {
	font-family: monospace,'courier new',tahoma;
}
.linkify_mg_this_form input[type="text"] , 
.linkify_mg_this_form select {
	width: 280px;
	font-size: 14px;
}
.linkify_mg_this_form input[name="url"] {
	width: 80%;
}
.linkify_mg_this_form div {
	margin: 10px 0;
	text-align: right;
	/* width: 450px; */
}
#inDiv_linkify_mg_this_form_linkify > .lmff_div ,
#inDiv_linkify_mg_this_form_submit {
	text-align: center;
}
