
/*index*/

.tallfooter .this.grid1 {
	width: 8.33%;
}
.tallfooter .this.grid2 {
	width: 16.66%;
}
.tallfooter .this.grid3 {
	width: 25%;
}
.tallfooter .this.grid4 {
	width: 33.33%;
}
.tallfooter .this.grid5 {
	width: 41.66%;
}
.tallfooter .this.grid6 {
	width: 50%;
}
.tallfooter .this.grid7 {
	width: 58.33%;
}
.tallfooter .this.grid8 {
	width: 66.66%;
}
.tallfooter .this.grid9 {
	width: 75%;
}
.tallfooter .this.grid10 {
	width: 83.33%;
}
.tallfooter .this.grid11 {
	width: 91.66%;
}
.tallfooter .this.grid12 {
	width: 100%;
}

