
#do_admin .admin_widgets {
	margin: -7px;
}
#do_admin .admin_widgets .widget_wrapper {
	display: inline-block;	
}
#do_admin .admin_widgets .widget {
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	margin: 7px;
}
#do_admin .admin_widgets .widget > .name {
	background-color: #f3f3f3;
	padding: 10px 15px;
	border-radius: 4px 4px 0 0;
}
#do_admin .admin_widgets .widget > .content {
	background-color: white;
	padding: 10px 15px;
	border-radius: 0 0 4px 4px;
}