
.texty_mg_head {
	font-size: 20px;
	margin: -8px 10px 22px 0;
}

.texty_mg_form {

}
.texty_mg_form .half_div {
	display: inline-block;
	width: 49%;
}
.texty_mg_form .half_div input[type="text"] {
	width: 360px;
}
.texty_mg_form textarea {
	width: 360px;
	height: 120px;
}

.texty_mg_form span.lmfe_tnit {
	padding: 10px 0 0 0;
	vertical-align: top;
	/* width: 150px; */
}

.texty_mg_form #lmfe_texty_mg_form_prompt {
	width: calc( 100% - 166px );
}
