
/* -spi- */

.ticketbox_user_form {
	padding: 30px 0px;
}
.ticketbox_user_form .lmfe_tnit {
	width: 17%;
	vertical-align: top;
	padding-top: 10px;
}
#lmfe_ticketbox_user_form_user_id {
	width: 75%;
}
#lmfe_ticketbox_user_form_name {
	width: 75%;
}
#lmfe_ticketbox_user_form_text {
	width: 75%;
	height: 200px;
}

#lmfe_ticketbox_user_form_user_name_memo {
	width: 75%;
}
