
.umtuls_conm {
	border-radius: 40px;
    background-color: #A00;
    color: white;
    padding: 1px 5px 2px 5px;
    display: inline-block;
    margin-right: 5px;
    line-height: 15px !important;
    font-family: Raleway;
}


