
.pgShop_user_form {
	margin-bottom: 80px;
}
.pgShop_user_form .head {
	font: bold 16px IRANSans;
    margin: 0 0 -1px 0;
    padding: 20px 30px;
    background-color: #f4f4f4;
    border-radius: 5px 5px 2px 2px;
    text-shadow: 0 0 1px #fff;
    color: #444;
    cursor: default;
}
.pgShop_user_form .lmfe_tnit {
	width: 160px;
}
.pgShop_user_form input[type="text"] ,
.pgShop_user_form input[type="url"] {
	min-width: 300px;
	padding: 10px;
}
#lmfe_pgShop_user_form_phone {
	width: 140px !important;
}
.pgShop_user_form textarea {
	width: calc( 100% - 200px );
	height: 160px;
}

#lmfe_pgShop_user_form_path {
	direction: ltr;
	font-family: monospace,sans-serif;
	font-size: 14px;
}


