
.pgShop_view {
	margin: -3px;
}

.pgShop_view .head {
	width: 100%;
    padding: 20px 25px;
    background-color: white;
    /* margin: 5px; */
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.pgShop_view .re {
	display: inline-block;
	width: 254px;
	vertical-align: top;
	text-align: center;
	margin: 4px;
	position: relative;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	min-height: 260px;
}
.pgShop_view .re img {
	width: 254px;
	height: 200px;
}
.pgShop_view .re .name {
	display: block;
	margin: 10px auto;
	padding: 0 10px 0 55px;
    text-align: right;
}
.pgShop_view .re .cost {
	position: absolute; top: 160px; left: 10px; z-index: 2;
	padding: 3px 10px 2px 10px;
	/* border-radius: 4px; */
	background-color: rgba(255, 255, 255, .6);
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	color: black;
}

.pgShop_view .re .fa-cart-plus {
    color: rgb(237, 255, 148);
    position: absolute;
    left: 10px;
    bottom: 12px;
    background-color: #7caa26;
    padding: 0 8px 0 6px;
    line-height: 31px !important;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid ;
}
.pgShop_view .re .fa-cart-plus:hover {
	opacity: 0.8;
}


