
.pgShop_info > * {
	margin-bottom: 10px;
	display: block;
	min-width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.pgShop_info > div {
	background-color: white;
	padding: 15px;
}

.pgShop_info > div .head {
	font-size: 14px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
    color: #989898;
}
.pgShop_info > div > span {
	display: block;
}
.pgShop_info > .desc > span {
	text-align: justify;
}
.pgShop_info > .phone > span {
	direction: ltr;
	text-align: center;
	font-size: 20px;
}