
.pgSearch_form {
	position: absolute;
	top: 36px;
	right: 200px;
}
.pgSearch_form select {
	height: 40px;
	line-height: 30px !important;
	font-size: 11px;
	width: auto;
}
.pgSearch_form input[type="text"] {
	direction: rtl;
	text-align: right;
	height: 40px;
	line-height: 40px;
	margin-left: -83px;
	padding-left: 80px;
	width: 350px;
	position: relative; top: -1px;
}
.pgSearch_form input[type="submit"] {
	background-color: #337ab7;
	padding: 6px 15px;
	border-radius: 5px;
	color: white;
	font-family: DefaultFont;
	position: relative; top: -1px; z-index: 11;
	transition: 0.2s all;
}
.pgSearch_form input[type="submit"]:hover {
	opacity: 0.8;
}




