
.pgItem_user_form {
	padding: 0 0 30px 0;
}

.pgItem_user_form .head {
	line-height: 50px !important;
	padding: 0 20px;
	font-size: 14px;
	border-bottom: 1px dashed #ddd;
	margin-bottom: 50px;
}
.pgItem_user_form select {
	line-height: 1.5 !important;
}
.pgItem_user_form .lmfe_tnit {
	width: 140px;
}
.pgItem_user_form .plans {
	display: none;
}
.pgItem_user_form .plans .lmfe_tnit {
	vertical-align: top;
	padding-top: 17px;
}

.pgItem_user_form .list_of_plans {
	width: calc( 100% - 200px );
	display: inline-block;
}
.pgItem_user_form .list_of_plans label {
	display: block;
	color: #666;
	line-height: 35px !important;
	transition: all 0.2s;
}
.pgItem_user_form .list_of_plans label:hover {
	color: #400;
}
.pgItem_user_form .list_of_plans input[type="radio"] {
	margin: 0 5px;
}


#lmfe_inDiv_pgItem_user_form_delivery_method {

}
#lmfe_inDiv_pgItem_user_form_delivery_method label {
	margin-left: 20px;
}
#delivery_costs {
	display: none;
}
#delivery_costs span > span.lmfe_tnit {
	width: auto;
	margin-left: 0px;
    padding-left: 5px;
}
#delivery_costs span > input {
	margin-left: 25px;
}
#lmfe_pgItem_user_form_cell ,
#lmfe_pgItem_user_form_tell {
	width: 130px;
}

#lmfe_pgItem_user_form_cell ,
#lmfe_pgItem_user_form_tell {
	width: 130px;
}
#lmfe_pgItem_user_form_name ,
#lmfe_pgItem_user_form_video {
	width: calc( 100% - 165px );	
}
.pgItem_user_form .video_memo {
	text-align: left;
	font-size: 9px;
	margin: -10px 0 -5px 18px;
	color: #777;
}
#lmfe_pgItem_user_form_text {
	width: calc( 100% - 165px );
	height: 100px;
	transition: height 0.3s;
}
#lmfe_inDiv_pgItem_user_form_kword > .lmfe_tnit {
	padding-top: 10px;
}

.sales_by_postgah_checkbox_wrapper {
	font-size: 12px;
}

.pgItem_user_form .hint_for_keywords {
    font-size: 9px;
    position: relative;
    top: -20px;
    color: #888;
    right: -4px;
}


