
/*index*/

.pgItem_user_list .tools_w > a:before {
    display: inline-block;
    padding: 3px 4px;
    font: normal 20px FontAwesome;
    color: white;
    text-decoration: none;
    opacity: 0.6;
    margin: 2px 3px;
    border-radius: 5px;
    min-width: 21px;
    text-align: center;
}
.pgItem_user_list .tools_w > a:hover:before {
	opacity: 1.0;
}

.pgItem_user_list .LinkToAds:before {
    background-color: black;
    content: "\f08e";
}
.pgItem_user_list .RegisterInShop:before {
	background-color: #b7b7b7;
    content: "\f07a";
}
.pgItem_user_list .UnregisterInShop:before {
	background-color: #b10000;
    content: "\f07a";
}
.pgItem_user_list .OutOfStock:before {
	background-color: #4b00ff;
	content: "\f00c";
}
.pgItem_user_list .InStock:before {
	background-color: #b7b7b7;
	content: "\f00c";
}
.pgItem_user_list .SetUpdateTime:before {
	background-color: #c3bd00;
	content: "\f021";
}
.pgItem_user_list .RejectMessage:before {
	background-color: #ff8100;
	content: "\f0e0";
}
.pgItem_user_list .IncompletePayment:before {
	background-color: #420000;
	content: "\f155";
}
.pgItem_user_list .MakePremium:before {
	background-color: #00cad4;
	content: "\f005";
}
.pgItem_user_list .RenewAds:before {
	background-color: #ff7600;
	content: "\f017";
}










