
#do_admin .mainbar > .top > .breadcrumb {
	display: inline-block;
	padding: 0 12px;
	vertical-align: middle;
	width: calc( 100% - 200px );
}
#do_admin .mainbar > .top > .breadcrumb > a {
	color: #bbb;
	text-shadow: 0 0 2px #000;
	display: inline-block;
	vertical-align: middle;
}
#do_admin .mainbar > .top > .breadcrumb > a:hover {
	color: #eee;
}
#do_admin .mainbar > .top > .breadcrumb > a:before {
	color: #bbb !important;
}

#do_admin .mainbar > .top > .breadcrumb > a:before {
	font-family: FontAwesome;
	content: "\f100";
	font-size: 20px;
	display: inline-block;
	margin-left: 0px;
	position: relative; top: 3px; left: 0px;
}
#do_admin .mainbar > .top > .breadcrumb > a.home:before {
	content: "\f015";
	top: 4px; right: 4px;
	margin-left: 14px;
}

#do_admin .mainbar > .top > .breadcrumb a:hover {
	color: #ddd !important;
}

