
@keyframes fa-blink {
	0% { opacity: 1; }
	25% { opacity: 0.75; }
	50% { opacity: 0.5; }
	75% { opacity: 0.25; }
	100% { opacity: 0; }
 }
.fa-blink {
   -webkit-animation: fa-blink 1.4s linear infinite;
   -moz-animation: fa-blink 1.4s linear infinite;
   -ms-animation: fa-blink 1.4s linear infinite;
   -o-animation: fa-blink 1.4s linear infinite;
   animation: fa-blink 1.4s linear infinite;
}

