
.ticketbox_view .name {
	position: relative;
}
.ticketbox_view .name .the_name {
	font-size: 18px;
	padding: 10px 5px;
	color: #888;
}
.ticketbox_view .name .etc {
	position: absolute; left: 5px; top: 20px;
}
.ticketbox_view .name .etc > * {
	display: inline-block;
	vertical-align: middle;
	color: #999;
	font-size: 12px;
}
.ticketbox_view .name .etc span {
	color: #ccc;
	padding: 10px 0;
	border-right: 1px dotted #ccc;
	margin-right: 13px;
	padding-right: 13px;
}


