
form#userverification_cell {
	margin: auto;
	display: block;
	margin-bottom: 30px;
	padding: 0 45px;
}
form#userverification_cell .head {
	margin: 30px -30px 40px 0;
	font-size: 24px;
}
form#userverification_cell .text {

}
form#userverification_cell .text span.cell {
	font-family: Raleway;
	font-weight: bolder;
}
form#userverification_cell input[name="code"] {
	/* display: block; */
	margin: 10px 0;
	letter-spacing: 8px;
	font-size: 16px;
	width: 100px;
}
form#userverification_cell a.resend {
	font-size: 11px;
	vertical-align: middle;
	color: #999;
	cursor: grab;
	display: none;
}

form#userverification_cell a.resend i {
	font-size: 13px;
	margin: 5px;
	display: inline-block;
}

form#userverification_cell a.resend.active {
	cursor: pointer;
}
form#userverification_cell a.resend.active:hover {
	color: #444;
}
form#userverification_cell a.resend.active i {

}
form#userverification_cell a.resend.sending i {
	
}
form#userverification_cell a.resend.sending {
	cursor: progress;
}
form#userverification_cell a.resend.waiting {
	color: #ccc;
}




form#userverification_cell a.back {

}
form#userverification_cell input[type="submit"] {
	display: block;
	margin-top: 10px;
}

