
.kword_mg_list_wrap {

}
/* 
#kword_mg_list_remove_selected {
	cursor: pointer;
	color: #f88;
	display: inline-block;
	position: relative; left: calc( 50% - 70px);
}
#kword_mg_list_remove_selected:hover {
	color: #e00;
}

 */








