
.isss {
	opacity: 0.0;
}

.isss_wrapper {
	display: inline-block;
}
.isss_wrapper > .inner {
	display: inline-block;
	overflow: hidden;
}
.isss_hidden {
	opacity: .2;
	position: relative; z-index: -1111;
}