
.isss {
	/* opacity: 0.0; */
}

.isss_wrapper {
	display: inline-block;
	position: relative;
	z-index: 1;
}
.isss_wrapper > .inner {
	display: inline-block;
	overflow: hidden;
}
.isss_hidden {
	display: none;
}