/*index*/

.linkify_simple {
	padding: 0 25px;
	margin: -25px;
}

.linkify_simple div {
	position: relative;
}
.linkify_simple div:hover > .sub_w {
	display: block;
}

.linkify_simple .master { /* pushesh e link haye asli */
	display: inline-block;
}
.linkify_simple .master > a { /* link haye asli */
	display: inline-block;
	color: white;
	transition: 0.2s all;
}
.linkify_simple .master > a:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

.linkify_simple .sub_w { /* div haye pushesh e sub */
	display: none;
	background-color: #ccc;
	position: absolute;
	right: 0px;
	top: 0px;
}
.linkify_simple .sub_w.show {
	display: block;
}

.linkify_simple .sub {
	display: block;
}
.linkify_simple .sub a { /* link haye sub */
	display: block;
	white-space: nowrap;
}

.linkify_simple .sub:hover {
	background-color: rgba(0, 0, 0, .2);
}
.linkify_simple .sub:hover a {
	color: white;
}

.linkify_simple .navmenu {
	border-radius: 4px;
	line-height: 1 !important;
	display: none;
}

