
/*index*/

.pgItem_user_list .Waiting a[name="RejectMessage"] ,
.pgItem_user_list .Waiting a[name="RegisterInShop"] ,
.pgItem_user_list .Waiting a[name="RenewAds"] ,
.pgItem_user_list .Waiting.Premium a[name="MakePremium"] ,
.pgItem_user_list .Waiting a[name="InStock"] ,
.pgItem_user_list .Waiting a[name="OutOfStock"] ,
.pgItem_user_list .Waiting a[name="LinkToAds"] ,
.pgItem_user_list .Waiting a[name="SetUpdateTime"] ,
.pgItem_user_list .Waiting a[name="UnregisterInShop"] {
	display: none;
}

.pgItem_user_list .Active a[name="RejectMessage"] {
	display: none;
}

.pgItem_user_list .Rejected a[name="MakePremium"] ,
.pgItem_user_list .Rejected a[name="RegisterInShop"] ,
.pgItem_user_list .Rejected a[name="RenewAds"] ,
.pgItem_user_list .Rejected a[name="InStock"] ,
.pgItem_user_list .Rejected a[name="OutOfStock"] ,
.pgItem_user_list .Rejected a[name="LinkToAds"] ,
.pgItem_user_list .Rejected a[name="SetUpdateTime"] ,
.pgItem_user_list .Rejected a[name="UnregisterInShop"] {
	display: none;
}

.pgItem_user_list .Expired a[name="RejectMessage"] ,
.pgItem_user_list .Expired a[name="RenewAds"] ,
.pgItem_user_list .Expired a[name="SetUpdateTime"] ,
.pgItem_user_list .Expired a[name="OutOfStock"] ,
.pgItem_user_list .Expired a[name="LinkToAds"] ,
.pgItem_user_list .Expired a[name="InStock"] ,
.pgItem_user_list .Expired a[name="UnregisterInShop"] ,
.pgItem_user_list .Expired a[name="RegisterInShop"] {
	display: none;
}

.pgItem_user_list .OutOfStock a[name="RenewAds"] ,
.pgItem_user_list .OutOfStock a[name="MakePremium"] ,
.pgItem_user_list .OutOfStock a[class="modify"] ,
.pgItem_user_list .OutOfStock a[name="UnregisterInShop"] ,
.pgItem_user_list .OutOfStock a[name="RegisterInShop"] ,
.pgItem_user_list .OutOfStock a[name="SetUpdateTime"] ,
.pgItem_user_list .OutOfStock a[name="LinkToAds"] ,
.pgItem_user_list .OutOfStock a[name="OutOfStock"] {
	display: none;
}
.pgItem_user_list .InStock a[name="InStock"] {
	display: none;
}

.pgItem_user_list .RegisteredInShop a[name="RegisterInShop"] {
	display: none;
}
.pgItem_user_list .NotRegisteredInShop a[name="UnregisterInShop"] {
	display: none;
}

.pgItem_user_list .Free a[name="RenewAds"] {
	display: none;
}



