
.ccf_view {

}
.ccf_view .re {
	
}
.ccf_view .re:nth-child(2n) {
	background-color: #f8f8f8;
}
.ccf_view .re > * {
	padding: 10px;
}
.ccf_view .re .name {
	display: inline-block;
	width: 40%;
}
.ccf_view .re .value {
	display: inline-block;
	width: 55%;
}

