
.pgSearch_kw {
	text-align: justify;
}
.pgSearch_kw > a {
	background-color: #f4f4f4;
	margin: 0;
	padding: 0 7px;
	display: inline;
	line-height: 2.5 !important;
	border-radius: 4px;
	font-size: 10px;
}
