
.pgItem_display_ccf {

}
.pgItem_display_ccf .re {
	
}
.pgItem_display_ccf .re:nth-child(2n+1) {
	background-color: #f8f8f8;
}
.pgItem_display_ccf .re > * {
	padding: 10px;
}
.pgItem_display_ccf .re .name {
	display: inline-block;
	width: 190px;
	vertical-align: top;
	color: #888;
	font-size: 13px;
}
.pgItem_display_ccf .re .value {
	display: inline-block;
	width: calc( 100% - 190px );
	font-size: 12px;
}
.pgItem_display_ccf .re .value .checkbox_node {
	margin: 3px 0;
	min-width: 175px;
	display: inline-block;
	font-size: 12px;
}
.pgItem_display_ccf .re .value .checkbox_node:before {
	content: "\f046";
	font-family: FontAwesome;
	margin-left: 5px;
	position: relative; top: 2px;
	color: #999;
}




