
.pgItem_header_search_form {
	position: absolute;
	top: 36px;
	right: 200px;
}
.pgItem_header_search_form select {
	height: 40px;
}
.pgItem_header_search_form input[type="text"] {
	height: 40px;
	line-height: 40px;
	margin-left: -83px;
	padding-left: 80px;
	width: 350px;
}
.pgItem_header_search_form input[type="submit"] {
	background-color: #2196f3;
	padding: 7px 15px;
	border-radius: 5px;
	color: white;
	font-family: IRANSans;
	position: relative;
	z-index: 11;
}





