
._404 {
	width: 1030px;
	max-width: 95%;
	margin: 50px auto;
	padding: 30px;
}
._404 .head {
	font: bold 24px IRANSans;
	padding: 10px 0;
}
._404 .desc {
	font: normal 13px IRANSans;
	padding: 10px 0;
}
._404 .submit_button {
	margin: 10px 0;
}
