
/*index*/

.fbcommentuplu {
	font-family: DefaultFont;
	margin-bottom: 40px;
}
.fbcommentuplu > .head {
    padding: 19px 30px 15px 0px;
    background-color: #ddd;
    font-size: 18px;
    text-shadow: 0 0 1px #fff;
    font-family: DefaultFont;
    color: #555;
    margin: 0 0 15px 0;
    border-radius: 8px;
}
.fbcommentuplu > .this {
	padding: 10px 30px 40px 30px;
	font-size: 16px;
}
.fbcommentuplu > .this:nth-child(2n+1) {
	background-color: #f8f8f8;
	border-radius: 10px;
}

.fbcommentuplu > .this > div {
	margin: 10px 0;	
}
.fbcommentuplu > .this * {
	font-size: 14px;
	color: #888;
}
.fbcommentuplu > .this a {
	color: black;
}
.fbcommentuplu > .this > .related_post {

}

.fbcommentuplu > .this > .replay_to {

}
.fbcommentuplu > .this > .replay_to .useravatar img {
	width: auto;
	height: 20px;
}
.fbcommentuplu > .this > .replay_to .useravatar > div {
	margin-right: 4px;
}
.fbcommentuplu > .this > .replay_to .useravatar div > a {
	line-height: 16px !important;
}
.fbcommentuplu > .this > .replay_to > a {
	background-color: #f8f8f8;
	padding: 10px;
	display: block;
	border-radius: 10px;
	font-style: italic;
	margin: 5px 50px;
	width: auto;
}
.fbcommentuplu > .this:nth-child(2n+1) > .replay_to > a {
	background-color: #f3f3f3;
}
.fbcommentuplu > .this > .replay_to > a:before ,
.fbcommentuplu > .this > .replay_to > a:after {
	font-family: FontAwesome;
	content: "\f10e";
	position: relative;
	margin: 0 10px;
	display: inline-block;
}
.fbcommentuplu > .this > .replay_to > a:before {
	content: "\f10e";
	top: -2px;
}
.fbcommentuplu > .this > .replay_to > a:after {
	content: "\f10d";
	top: 5px;
}

.fbcommentuplu > .this > .said {
	margin: 5px 50px;
}
.fbcommentuplu > .this > .said > a {
	background-color: #f8f8f8;
	padding: 10px;
	display: block;
	border-radius: 10px;
	font-style: italic;
	width: auto;
}
.fbcommentuplu > .this:nth-child(2n+1) > .said > a {
	background-color: #f3f3f3;
}
.fbcommentuplu > .this > .said > a:before ,
.fbcommentuplu > .this > .said > a:after {
	font-family: FontAwesome;
	content: "\f10e";
	position: relative;
	margin: 0 10px;
	display: inline-block;
}
.fbcommentuplu > .this > .said > a:before {
	content: "\f10e";
	top: -2px;
}
.fbcommentuplu > .this > .said > a:after {
	content: "\f10d";
	top: 5px;
}
