
.fbcomment {
	
}
.fbcomment tr > td {
	background-color: white !important;
}

.fbcomment tr > td:nth-child(1) {
	cursor: default;
}
.fbcomment tr > td:nth-child(1).name {
	
}

.fbcomment tr > td:nth-child(2) {
	width: 120px;
	text-align: center;
}
.fbcomment tr > td:nth-child(3) {
	width: 90px;
	text-align: center;
}

.fbcomment_mg .listmaker_list_record a {
	color: #800;
}
.fbcomment_mg .listmaker_list_record a:hover {
	color: red;
}
