
.fbcomment_container {
	width: 80%;
	margin: auto;
}
.fbcomment_container > #fbcomment_temp {
	/*display: none;*/
}

.fbcomment {
	width: 100%;
	/*height: 500px;*/
	margin: 20px 0 40px 0;
}

.fbcomment_sharp_anchor {
	width: 1px; 
	height: 1px;
	overflow: hidden;
	display: inline-block;
}
