
.faq_mg_form {

}
.faq_mg_form .lmfe_tnit {
	width: 160px;
	padding-top: 13px;
}
#lmfe_formda75cd_name {
	vertical-align: top;
	width: calc( 100% - 250px );
	font-size: 14px;
}
#lmfe_formda75cd_text {
	vertical-align: top;
	width: calc( 100% - 250px );
	height: 220px;
	font-size: 14px;
}

