
a.pgIilt {
	display: block;
	background-color: white;
	border-radius: 5px;
	padding: 8px;
	border: 2px solid white;
	margin-top: 10px;
	vertical-align: top;
	position: relative;
}

a.pgIilt > img {
	border-radius: 5px;
	width: 120px;
	height: auto;
	min-height: 90px;
	box-shadow: 0 0 5px #aaa;
	margin-bottom: -5px;
}
a.pgIilt > .text {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
a.pgIilt > .text > * {
	position: absolute;
}
a.pgIilt > .text > .name {
	top: 20px;
	right: 150px;
	font-size: 14px;
	width: 70%;
	height: 24px;
	overflow: hidden;
}
a.pgIilt > .text > .cat {
	top: 50px;
	right: 150px;
	color: #aaa;
	font-size: 12px;
}
a.pgIilt > .text > .pos {
	bottom: 20px;
	right: 150px;
	font-size: 12px;
	color: #aaa;
}
a.pgIilt > .text > .price {
	top: 20px;
	left: 20px;
	color: green;
	font-size: 12px;
}
a.pgIilt > .text > .date {
	bottom: 20px;
	left: 20px;
	font-size: 10px;
	color: #aaa;
}

.pgItem_item_list .listmaker_list_paging {
	margin: 30px 10px;
}

a.pgIilt.pin_in_own_cat {
	border: 2px solid #f9cccc;
}






