
.pgItem_item_list_filters {
	padding: 10px;
	background: rgba(255,255,255,0.9);
	margin-bottom: 18px;
	border-radius: 4px;
	box-shadow: 0 0 10px #ddd;	
}
.pgItem_item_list_filters .toggle_w {
	width: 100%;
	border-radius: 7px;
	background-color: #f4f4f4;
	margin-top: 3px;
}

.pgItem_item_list_filters #slider-range {
	width: 90%;
	margin: auto;
}

.pgItem_item_list_filters {
	font-size: 12px;
}
.pgItem_item_list_filters #amount {
	text-align: left;
	direction: rtl;
	width: 90%;
	margin: 5px auto;
}
.pgItem_item_list_filters input[type="button"] {
	margin: 15px 5% 5px;
}

.pgItem_item_list_filters .price_boxes {
	text-align: center;
	margin-top: 5px;
}
.pgItem_item_list_filters .price_boxes > input {
	width: 100px;
	font-size: 12px;
	padding: 6px;
	display: inline-block;
	text-align: left;
	direction: ltr;
}
.pgItem_item_list_filters .price_boxes > input:-moz-placeholder {
    text-align: right;
    direction: rtl;
}
.pgItem_item_list_filters .price_boxes > input:-ms-input-placeholder {
    text-align: right;
    direction: rtl;
}
.pgItem_item_list_filters .price_boxes > input::-webkit-input-placeholder {
    text-align: right;
    direction: rtl;
}



