
.catcustomfield_displayfilters_thisCat {
	margin: -5px 0;
}
.catcustomfield_displayfilters_thisCat > * {
	display: block;
	margin: 15px 10px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #eee;
}
.catcustomfield_displayfilters_thisCat > *:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}
.catcustomfield_displayfilters_thisCat > * > .head {
	display: block;
	margin-bottom: 10px;
	color: #999;
}
.catcustomfield_displayfilters_thisCat > * > label {
	min-width: 48%;
    display: inline-block;
    padding-right: 8px;
    margin: 5px 0;
}
.catcustomfield_displayfilters_thisCat > * > label > input[type="checkbox"] {
	position: relative; top: 0px !important; left: 2px;
}
.catcustomfield_displayfilters_thisCat select {
	width: auto !important;
}
