
.abusereport_mg_smsToBadUser {
    position: relative;
    background-color: red;
    padding: 2px;
    vertical-align: top;
}

.abusereport_mg_smsToBadUser textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 30px;
    direction: rtl;
    font-size: 20px;
}
.abusereport_mg_smsToBadUser input[type="submit"] {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    transition: all 0.3s;
}
.abusereport_mg_smsToBadUser:hover input[type="submit"] {
    /* bottom: 20px; */
}


