
.breadcrumb {
	padding: 10px 10px;
	background-color: transparent;
}

.breadcrumb a {
	color: #9d9d9d !important;
	font-size: 11px !important;
	line-height: 1 !important;
	display: inline-block;
}

.breadcrumb a:before {
	font-family: FontAwesome;
	font-size: 12px;
	content: "\f104";
	padding: 0 8px;
}

.breadcrumb a.home:before {
	position: relative; top: 2px;
	font-family: FontAwesome;
	content: "\f015";
	font-size: 18px;
	padding: 0 0 0 8px;
}
.breadcrumb a:hover ,
.breadcrumb a:hover:before {
	color: #444 !important;
}









