
.pgItem_display_ccf {

}
.pgItem_display_ccf .re {
	
}
.pgItem_display_ccf .re:nth-child(2n+1) {
	background-color: #f8f8f8;
}
.pgItem_display_ccf .re > * {
	padding: 10px;
}
.pgItem_display_ccf .re .name {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}
.pgItem_display_ccf .re .value {
	display: inline-block;
	width: 60%;
}
.pgItem_display_ccf .re .value .checkbox {
	margin: 3px 0;
	min-width: 140px;
}
.pgItem_display_ccf .re .value .checkbox:before {
	content: "\f046";
	font-family: FontAwesome;
	margin-left: 5px;
	position: relative; top: 2px;
	color: #999;
}




