
.kword_mg_list_wrap {
	margin: 20px 0 80px 0;
}

.kword_mg_list tr > *:nth-child(1) {
	text-align: center;
	width: 50px;
}
.kword_mg_list tr > *:nth-child(1) input[type=checkbox] {
	top: 0px;
	left: 0px;
}
.kword_mg_list tr > td:nth-child(2) {
	padding-right: 20px;
}

.kword_mg_list .listmaker_list_paging {
	margin-top: 130px;
}

#kword_mg_list_remove_selected {
	cursor: pointer;
	color: #f88;
	display: inline-block;
	position: relative; left: calc( 50% - 70px);
}
#kword_mg_list_remove_selected:hover {
	color: #e00;
}










