
.d404 {
	width: 1030px;
	max-width: 95%;
	margin: 50px auto;
	padding: 30px;
}
.d404 .head {
	font: bold 24px DefaultFont;
	padding: 10px 0;
}
.d404 .desc {
	font: normal 13px DefaultFont;
	padding: 10px 0;
}
.d404 .submit_button {
	margin: 10px 0;
}
