
.billing_userpanel_payment {
	margin: 40px 100px 50px;
}
section.center.have_right_sidebar .billing_userpanel_payment {
	margin: 0 0 30px 0;
}

.billing_userpanel_payment .text {
	transition: all 0.4s;
	margin: 25px;
	font: bold 12px DefaultFont;
}
.billing_userpanel_payment .method_list {
	display: inline-block;
	width: 44%;
	margin: 0 20px 0 0;
	vertical-align: top;
}
.billing_userpanel_payment .method_list h1 {
	margin: 20px 0 30px 0;
	font-size: 12px;
}
.billing_userpanel_payment .method_list .r {
	display: block;
	vertical-align: top;
	margin: 0;
    padding: 10px 25px;
    border-radius: 5px;
	background-color: #f4f4f4;
	color: #777;
}
.billing_userpanel_payment .method_list .r:hover {
	background-color: #ddd;
	color: #000;
}
.billing_userpanel_payment .method_list .r > * {
	vertical-align: middle;
	display: inline-block;
}
.billing_userpanel_payment .method_list .r input {
	position: relative; top: -15px;
}
.billing_userpanel_payment .method_list .r img {
	height: 40px;
	position: relative; right: 8px;;
}
.billing_userpanel_payment .method_list .r label {
	display: block;
}
.billing_userpanel_payment .cost-container {
	display: inline-block;
	width: 50%;
	margin: 0 20px 0 0;
}
.billing_userpanel_payment .cost-container span {
	margin: 0 20px 0 0;
	display: inline-block;
	font: normal 12px DefaultFont;
}
.billing_userpanel_payment .cost-container input[type=text] {
	margin: 0 20px 0 0;
	font-size: 18px;
	padding: 5px 15px 5px 15px;
}
.billing_userpanel_payment .cost-container .convbox {

}
.billing_userpanel_payment .cost-container input[type=submit] {
	display: inline-block;
	background-color: rgb(117, 172, 0);
	padding: 7px 15px;
	font: normal 13px DefaultFont;
	color: white;
	border-radius: 3px;
	margin: 3px 20px 3px 3px; 
	text-decoration: none;
	box-shadow: 0 0 10px #ccc;
	line-height: 24px !important;
}
.billing_userpanel_payment .wallet_credit {
	margin: -5px 27px 0 0;
	display: block;
	font-size: 12px;
}
.billing_userpanel_payment .convbox {
	padding: 30px 40px;
	font-size: 12px;
}


